<div class="container">
  <form [formGroup]="employeeForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Name</label>
        <input  type="text" class="form-control" formControlName="name" matInput required/>
        <mat-error *ngIf="employeeForm.controls.name.errors?.required">Name is required</mat-error>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Date of Birth</label>
        <input type="date" class="form-control" name="dob" formControlName="dob" matInput required ="Date"/>
        <mat-error *ngIf="employeeForm.controls.dob.errors?.required">Dob is required</mat-error>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >Email</label>
        <input type="Email" class="form-control" formControlName="email" matInput required email />
        <div *ngIf="employeeForm.controls.email.errors?.required">Email is required</div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="!employeeForm.valid" *ngIf="btnVisibility" (click)="sendAdd()">Save</button>
    <button class="btn btn-success" [disabled]="!employeeForm.valid" *ngIf="!btnVisibility" (click)="onUpdate()">Update</button>
  </form>
</div>
