<div class="container">
  <div class="skillHeader">
    <h1 class="addSkillTitle">Add Skills...</h1>
  </div>
  <form [formGroup]="skillForm">
    <div class="form-group">
      <label for="InputSkill">Skill Name</label>
      <input type="text" class="form-control" id="InputSkill" formControlName="skills" placeholder="Enter a skill"
             required="required">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!edit" (click)="sendAddSkill()" [disabled]="skillForm.invalid">Add</button>
    <button type="submit" class="btn btn-danger"  *ngIf="edit" (click)="cancel()" [disabled]="skillForm.invalid">Cancel</button>
    <button type="submit" class="btn btn-success update" *ngIf="edit" (click)="onUpdate()" [disabled]="skillForm.invalid">Update</button>
  </form>
  <div class="skillListHeader">
    <h1 class="skillTable">List of Skills</h1>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Skill Name</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of allSkills; index as i">
      <td> {{skill.skills}} </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="editSkill(skill)"> Edit </button>
      </td>
      <td>
        <button (click)="deleteSkill(skill.id)" class="btn btn-danger btn-sm">
          <i class="bi bi-trash"> Delete </i>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
