.addSkillTitle{
  padding: 20px;
  font-style: italic;
  text-align: center;
  background-color: #0e9271;
  color: white;
}

.deleteSkillTitle{
  font-style: italic;
  text-align: center;
}

.skillTable{
  padding: 20px;
  font-style: italic;
  text-align: center;
  background-color: #0e9271;
  color: white;
}

.skillListHeader{
  padding: 20px;
}

.skillHeader{
  padding: 20px;
}
